header {
background-color:#3B9AE1;
background-image:url(../img/pattern.png);
padding: 0 10px;
background-size: 25%;
background-position: 70px 0px;

}

.logo {
    width: 250px;
    margin-top: 45px;
    margin-bottom: 10px;
}

.pattern {
    width: 200px;

}

h1 {
font-size: 40px;

}

h3 {
    font-size: 20px;
    color: grey;
}

.author {
    color: grey;
    margin-top: -33px;
    font-size: 20px;
}

.author-name {
    color: #3B9AE1;

}

.date {
    color: grey;
    margin-top: -1px;
    font-size: 15px;
}

.credits {
    font-size: 15px;
}

.underlined-text {
    background-color: yellow;
}

.table-header {
    background-color: #3B9AE1;
    
}

.table-header-text {
    color: white;
    width: 25%;
    text-align: left;
}

.table-row {
    background-color: lightblue;
    
}

.table-center {
    background-color: white;
}