header {
background-color:#3B9AE1;
background-image:url(../img/pattern.png);
padding: 0 10px;
background-size: 25%;
background-position: 70px 0px;

}

.logo {
    width: 250px;
    margin-top: 45px;
    margin-bottom: 10px;
}

.pattern {
    width: 200px;

}

h1 {
    font-size: 30px;
    font-family: montserrat;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    color: grey;
    font-family: montserrat;
}

.author {
    color: grey;
    margin-top: -25px;
    font-size: 20px;
    font-family: montserrat;
}

.author-name {
    color: #3B9AE1;
    font-family: montserrat;
    
}

.date {
    color: grey;
    margin-top: -1px;
    font-size: 15px;
    font-family: montserrat;
}

.credits {
    font-size: 15px;
    font-family: montserrat;
}

.underlined-text {
    background-color: yellow;
    
}

.table-header {
    background-color: #3B9AE1;
    
}

.table-header-text {
    color: white;
    width: 25%;
    text-align: left;
}

.table-row {
    background-color: lightblue;
    
}

.table-center {
    background-color: white;
    
}

.container {
    position: relative;
    text-align: left;
    color: white;
    font-family: montserrat;
}

.container-monitor-text {
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: montserrat;
}

.container-graph-text {
    position: absolute;
    top: 220px;
    left: 16px;
    font-family: montserrat;
}

div {
    font-family: montserrat;
}

p {
    font-family: montserrat;
}

ul {
    font-family: montserrat;
}

table {
    font-family: montserrat;
}